<div class="order-form">
  <div class="order-form--controls">
    <% if(locals.priceEditor) { %>
      <div class="control-row PriceEditor-price">
        <label><%- priceEditor.label %></label>
        <input type="hidden" name="label" value="<%- priceEditor.label %>">
        <div class="input input__big input__100 PriceEditor-priceFormatted input__no-border"></div>
        <input required id="housePrice" placeholder="<%- priceEditor.label %>"
          price-mask
          value="<%- priceEditor.value %>" type="text" name="object_price"
          class="input input__big input__100 input__no-border PriceEditor-priceInput" />
        <input class="PriceEditor-priceRange"
          type="range"
          min="<%- priceEditor.min %>"
          max="<%- priceEditor.max %>"
          step="<%- priceEditor.step %>"
          value="<%- priceEditor.value %>">
      </div>
    <% } %>
    <div class="control-row">
      <div class="order-form--email-form">
          <input disable-on-submit required save id="clientEmail"
            type="email" name="mail" id="mail" class="input" placeholder="Электронная почта" />
          <button disable-on-submit type="submit" class="button">
            <span class="on-disable--show">Расчёт отправлен</span>
            <span class="on-disable--hide">Отправить расчёт</span>
          </button>
      </div>
    </div>
  </div>
  <div class="order-form--price">
    <label><nobr>
      <%- priceEditor.labelPrice ? priceEditor.labelPrice : 'Комиссия' %>
      <% if(!priceEditor.hidePercent) { %>
        <span class="PriceEditor-commissionPercentage">5</span><span class="PriceEditor-percentage">%</span>
      <% } %>
    </nobr></label>
    <span><span id="totalPrice" class="PriceEditor-commissionValue"></span></span>
    <input type="hidden" name="price" value="100000" class="PriceEditor-commissionValueInput" />
    <div class="order-form--note"><%- priceEditor.note %></div>
  </div>
</div>