<%
  function stripHtml(html) {
    return (html || '').replace(/<(?:.|\n)*?>/gm, '').replace(/\n/gm, '');
  }

  function formatPrice(htmlString) {
    if (htmlString.includes('<ul>')) {
      return htmlString;
    }
    const priceString = stripHtml(htmlString).replace(/\s+/gm, '');
    const priceValue = priceString.slice(-1);
    const price = priceString.slice(0, -1).replace(/(\d)(?=(\d{3})$)/g, '$1<span class="hs"></span>');

    return `${price}<span class="rhs">&nbsp;</span>${priceValue}`;
  }

  const [ title, price, description, info, ...feedback ] = (data || '').split('<hr>');
  const [ feedbackText, feedbackName, feedbackImage, feedbackTypeHtml ] = feedback || [];
  const feedbackImageUrl = stripHtml(feedbackImage);
  const feedbackType = stripHtml(feedbackTypeHtml);
  const formattedPrice = formatPrice(price);
  const strippedTitle = stripHtml(title);
%>
<div class="service-item">
  <h3><%- strippedTitle %></h3>
  <%- description %>
  <div class="service-item--info info">
    <button class="info--toggle" title="Дополнительная информация"><span></span></button>
    <div class="info--content"><%- info %></div>
  </div>

  <% if (feedbackText) { %>
    <% if (feedbackType === 'client') { %>
      <div class="service-item--feeedback feedback feedback__<%- feedbackType %>">
        <div class="feedback--text"><%- feedbackText %></div>
        <div class="feedback--author">
          <div class="feedback--image"><img src="/img/<%- feedbackImageUrl %>" alt=""></div>
          <%- feedbackName %>
        </div>
      </div>
    <% } else { %>
      <div class="service-item--feeedback feedback feedback__<%- feedbackType %>">
        <div class="feedback--author">
          <div class="feedback--image"><img src="/img/<%- feedbackImageUrl %>" alt=""></div>
          <%- feedbackName %>
        </div>
        <div class="feedback--text"><%- feedbackText %></div>
      </div>
    <% } %>
  <% } %>

  <div class="service-item--price"><%- formattedPrice %></div>
</div>