<%
const { title, price, disabled, checked } = service;
const formattedPrice = price.replace(/(\d)(?=(\d{3})+$)/g, '$1&thinsp;');
%>
<div class="service-item service-item__extra">
  <h3>
    <label>
      <span class="service-item--checkbox">
        <input type="hidden" name="serviceItemExtra[<%- id %>][price]" value="<%- price %>">
        <input type="hidden" name="serviceItemExtra[<%- id %>][title]" value="<%- title %>">
        <% if (disabled) { %>
          <input type="hidden" name="serviceItemExtra[<%- id %>][checked]" value="true">
        <% } %>
        <input type="checkbox" <%- checked %> <%- disabled %>
          name="serviceItemExtra[<%- id %>][checked]" value="true" data-price="<%- price %>">
      </span>
      <%- title %>
    </label>
  </h3>
  <div class="service-item--price"><%- formattedPrice %><span class="rhs">&nbsp;</span>₽</div>
</div>