<%
const { title, price, disabled, checked } = service;
const formattedPrice = price.replace(/(\d)(?=(\d{3})+$)/g, '$1&thinsp;');
%>
<div class="service-item service-item__extra">
  <h3>
    <label>
      <span class="service-item--checkbox" for="serviceItemExtra<%- id %>">
        <% if (disabled) { %>
          <input type="hidden" name="serviceItemExtra[]" value="<%- title %>">
        <% } %>
        <input type="checkbox" <%- checked %> <%- disabled %>
        name="serviceItemExtra[]" value="<%- title %>" data-price="<%- price %>">
      </span>
      <%- title %>
    </label>
  </h3>
  <div class="service-item--price"><%- formattedPrice %><span class="rhs">&nbsp;</span>₽</div>
</div>