<%
  function stripHtml(html) {
    return (html || '').replace(/<(?:.|\n)*?>/gm, '').replace(/\n/gm, '');
  }

  function formatPrice(htmlString) {
    if (htmlString.includes('<ul>')) {
      return htmlString;
    }
    const priceString = stripHtml(htmlString).replace(/\s+/gm, '');
    const priceValue = priceString.slice(-1);
    const price = priceString.slice(0, -1).replace(/(\d)(?=(\d{3})$)/g, '$1<span class="hs"></span>');

    return `${price}<span class="rhs">&nbsp;</span>${priceValue}`;
  }

  const [ title, price, description, info ] = (data || '').split('<hr>');
  const formattedPrice = formatPrice(price);
  const strippedTitle = stripHtml(title);

  const checkbox = new Date().getTime();
%>
<div class="service-item">
  <label class="service-item--checkbox" for="serviceItem<%- id %>"><input type="checkbox" checked name="serviceItem<%- id %>" id="serviceItem<%- id %>"><span></span></label>
  <h3><label for="serviceItem<%- id %>"><%- strippedTitle %></label></h3>
  <%- description %>
  <% if (info) { %>
    <div class="service-item--info info">
      <button class="info--toggle" title="Дополнительная информация"><span></span></button>
      <div class="info--content"><%- info %></div>
    </div>
  <% } %>

  <div class="service-item--price"><%- formattedPrice %></div>
</div>