<html>
  <%- partial("_snippets/head.ejs") %>
  <body class="<%- partial("_snippets/body-class.ejs") %>">
    <%- partial("_snippets/header.ejs") %>
    <aside class="layout--sidebar menu-wrapper">
      <%- partial('_snippets/menu.ejs') %>
    </aside>
    <main class="layout--content">
      <div class="main-page">
        <div class="main-page--welcome">
          <p class="subheader">Москва и Подмосковье</p>
          <h1>Квартиры, дома <br>и коммерческая <br>недвижимость</h1>
          <p>Помогаем купить, продать, получить ипотеку, сдать и&nbsp;арендовать недвижимость. Сопровождаем сделки на&nbsp;всех&nbsp;этапах, проверяем юридическую чистоту и&nbsp;помогаем в&nbsp;сложных ситуациях.</p>
          <img src="/img/icon-arrow-down.svg" alt="Пролистайте вниз" class="main-page--navigation-arrow">
        </div>
        <div class="row">
          <div class="col-6 main-page--description">
            <h2>Делаем всё</h2>
            <p>Мы работаем с&nbsp;любой недвижимостью в&nbsp;Москве и&nbsp;Подмосковье. Берёмся за&nbsp;сделки с&nbsp;новостройками и&nbsp;вторичным жильём. Избавляем клиентов от&nbsp;юридической волокиты и&nbsp;бесконечных переговоров.</p>
            <p>Помогаем в&nbsp;сложных случаях: когда&nbsp;вовлечены органы опеки, или&nbsp;не&nbsp;оформлено наследство, или&nbsp;нужно снять арест с&nbsp;объекта, или&nbsp;другая сторона внезапно отказывается выходить на&nbsp;сделку, или&nbsp;всё&nbsp;вместе.</p>
          </div>
          <div class="col-2 main-page--expirience bg-blue">
            <p>
              <b>5+</b>
              минимальный опыт риелтора в&nbsp;бюро — пять&nbsp;лет
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-2 bg-black"></div>
          <div class="col-2">
            <p><strong>Бесплатно</strong><br/>консультируем и&nbsp;оцениваем недвижимость</p>
          </div>
          <div class="col-4">
            <h3>Оплата после оказания услуг</h3>
            <p>Исключение только одно: вы&nbsp;платите до&nbsp;окончания сделки, если мы&nbsp;вносим аванс продавцу при&nbsp;покупке недвижимости.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-7 main-page--discount bg-yellow">
            <p><b>10%</b><span class="visually-hidden"> — </span>скидка на&nbsp;все&nbsp;услуги повторным клиентам, пенсионерам, многодетным семьям, отцам- и&nbsp;матерям-одиночкам, участникам войны, инвалидам и&nbsp;малоимущим</p>
          </div>
          <div class="col-1 bg-black"></div>
        </div>
        <div class="row">
          <div class="col-4 proposal-block">
            <div class="proposal-block--description">
              <h3>Льготные условия от&nbsp;банков</h3>
              <p>Сниженная ставка по&nbsp;ипотеке и&nbsp;помощь в&nbsp;подаче документов</p>
            </div>

            <div class="proposal-block--images">
              <a class="proposal-block--image__margin-right" href="https://www.sberbank.ru/ru/person/credits/homenew" title="Сбербанк"><%- partial("_snippets/svg-icon.ejs", { name: 'bank-sber' }) %></a>
              <a href="https://www.vtb.ru/personal/ipoteka/" title="Банк ВТБ"><%- partial("_snippets/svg-icon.ejs", { name: 'bank-vtb' }) %></a>
            </div>
          </div>
          <div class="col-4 proposal-block">
            <div class="proposal-block--description">
              <h3>Скидки от&nbsp;дизайн-студий</h3>
              <p>Скидка от&nbsp;10 до&nbsp;20% на&nbsp;дизайн интерьера и&nbsp;ремонт</p>
            </div>
            <div class="proposal-block--images">
              <a href="https://www.zeworkroom.com/" title="ZE|WORKROOM studio"><%- partial("_snippets/svg-icon.ejs", { name: 'studio-zw' }) %></a>
              <a href="http://km-studio.info/projects/" title="КМ Студио"><%- partial("_snippets/svg-icon.ejs", { name: 'studio-km' }) %></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8 main-page--video">&nbsp;</div>
        </div>
        <div class="row">
          <div class="col-2 main-page--employee employee employee__vertical">
            <div class="employee--image">
              <img src="/img/employee-kozlova.jpg" width="198px" alt="">
            </div>
            <div class="employee--description">
              <h3>Оксана Козлова</h3>
              <ul>
                <li>генеральный директор</li>
                <li>10&nbsp;лет на&nbsp;рынке недвижимости</li>
                <li>164&nbsp;сделки</li>
              </ul>
            </div>
          </div>
          <div class="col-4 employee-list">
            <div class="employee employee__horizontal">
              <div class="employee--image">
                <img src="/img/employee-kudina.jpg" width="198px" alt="">
              </div>
              <div class="employee--description">
                <h3>Людмила Кудина</h3>
                <ul>
                  <li>старший эксперт</li>
                  <li>6&nbsp;лет на&nbsp;рынке недвижимости</li>
                  <li>32&nbsp;сделки</li>
                </ul>
              </div>
            </div>
            <div class="employee employee__horizontal">
              <div class="employee--image">
                <img src="/img/employee-raevskaya.jpg" width="198px" alt="">
              </div>
              <div class="employee--description">
                <h3>Юлия Раевская</h3>
                <ul>
                  <li>главный эксперт</li>
                  <li>7&nbsp;лет на&nbsp;рынке недвижимости</li>
                  <li>48&nbsp;сделок</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-2 main-page--vacancy">
            <div class="bg-white">
              <h3>Работа в бюро</h3>
              <p>Если хотите в&nbsp;нашу команду, отправьте свой&nbsp;номер телефона. Мы&nbsp;перезвоним в&nbsp;течение суток.</p>
              <form action="<%- partial("_snippets/sender-path.ejs") %>" target="blank" method="post">
                <input type="hidden" name="template" value="vacancy">
                <div class="control-row">
                  <input disable-on-submit phone-mask required save id="phoneNumber"
                    class="input input__100" type="tel" name="phone" placeholder="Ваш номер" />
                </div>
                <div class="control-row">
                  <button disable-on-submit class="button button__100" type="submit">
                    <span class="on-disable--show">Перезвоним</span>
                    <span class="on-disable--hide">Отправить</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row bg-blue">
          <div class="col-4 main-page--address address-block">
            <div class="address-block--top">
              <h3>Адрес офиса</h3>
              <p>Мясницкая улица, д.&nbsp;35, стр.&nbsp;2, Москва</p>
              <p>Офис открыт по&nbsp;будням с&nbsp;10&nbsp;до&nbsp;18</p>
              <p>Вход с&nbsp;проспекта Академика Сахарова</p>
              <p>Рядом платная парковка</p>
            </div>
            <div class="address-block--bottom">
              <p><a href="tel:+74957735577">+7 495 773-55-77</a><br><a href="mailto:mail@gbn.moscow">mail@gbn.moscow</a></p>
            </div>
          </div>
          <div class="col-4 main-page--map">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A42dcf3a3558eabbdbdcfe856c909ade2d5e03f4b36f3c8b774f05a5579199dc4&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;scroll=false"></script>
          </div>
        </div>
      </div>
    </main>
    <footer class="site-footer"><div class="site-footer--rotate bg-red"><p>Сделано <nobr><a href="https://bureau.ru/school/">в&nbsp;Школе Бюро&nbsp;Горбунова</a></nobr> в&nbsp;2018&nbsp;году</p></div></footer>
    <%- partial("_snippets/footer.ejs") %>
  </body>
</html>