<html>
  <%- partial("_snippets/head.jade") %>
  <body class="<%- partial("_snippets/body-class.ejs") %>">
    <%- partial("_snippets/header.ejs") %>
    <aside class="layout--sidebar menu-wrapper">
      <%- partial('_snippets/menu.ejs') %>
    </aside>
    <main class="layout--content">
      <%- yield %>
    </main>
    <%- partial("_snippets/footer.ejs") %>
  </body>
</html>