<html>
  <%- partial("_snippets/head.ejs") %>
  <body id="barba-wrapper" class="<%- partial("_snippets/body-class.ejs") %>">
    <div class="barba-container"></div>
    <%- partial("_snippets/header.ejs") %>
    <a href="/" class="icon-close">
      <%- partial("./_snippets/svg-icon.ejs", { name: 'close' }) %>
    </a>
    <%- partial('_snippets/menu.ejs') %>
    <div id="content"><main class="layout--content">
      <%- yield %>
    </main></div>
    <%- partial("_snippets/footer.ejs") %>
  </body>
</html>