<%
function getHeaderFromHtml(html) {
  return html.match(/<h1[^>]*>(.*?)<\/h1>/)[0];
}

function getHtmlWithoutHeader(html) {
  return html.replace(/<h1[^>]*>(.*?)<\/h1>/, "");
}
%>
<html>
  <%- partial("_snippets/head.jade") %>
  <body>
    <%- partial("_snippets/header.ejs") %>
    <div class="layout">
      <aside class="layout--sidebar">
        <div class="menu-wrapper">
          <%- partial('_snippets/menu.ejs') %>
        </div>
      </aside>
      <main class="layout--content">
        <div class="service-layout">
          <div class="service-layout--container">
            <header class="service-header">
              <nav><a href="../" class="icon-close">
                <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path class="iconClose" stroke="#000000" d="M11,10.3072407 L19.9608611,1.34637963 L20.3072407,1 L21,1.69275927 L20.6536204,2.0391389 L11.6927593,11 L20.6536204,19.9608611 L21,20.3072407 L20.3072407,21 L19.9608611,20.6536204 L11,11.6927593 L2.0391389,20.6536204 L1.69275927,21 L1,20.3072407 L1.34637963,19.9608611 L10.3072407,11 L1.34637963,2.0391389 L1,1.69275927 L1.69275927,1 L2.0391389,1.34637963 L11,10.3072407 Z"></path>
                </svg>
              </a></nav>
              <%- getHeaderFromHtml(yield) %>
            </header>

            <div class="service-lead"><%- getHtmlWithoutHeader(yield) %></div>

            <div class="service-list service-list__percent">
              <%- partial("_blocks/service-list", { title: 'Базовый пакет услуг' }) %>

              <%- partial("_blocks/service-list--extra", { title: 'Дополнительные услуги, если требуются<br/>(входят в стоимость)' }) %>
            </div>
          </div>
          <div class="service-layout--footer">
            <%- partial("_blocks/order-form__complex.ejs") %>
          </div>
        </div>
      </main>
    </div>
    <%- partial("_snippets/footer.ejs") %>
  </body>
</html>