<%
function getHeaderFromHtml(html) {
  return html.match(/<h1[^>]*>(.*?)<\/h1>/)[0];
}

function getHtmlWithoutHeader(html) {
  return html.replace(/<h1[^>]*>(.*?)<\/h1>/, "");
}
%>
<html>
  <%- partial("_snippets/head.jade") %>
  <body>
    <%- partial("_snippets/header.ejs") %>
    <div class="layout">
      <aside class="layout--sidebar">
        <div class="menu-wrapper">
          <%- partial('_snippets/menu.ejs') %>
        </div>
      </aside>
      <main class="layout--content">
        <div class="service-layout">
          <div class="service-layout--container">
            <header class="service-header">
              <nav><a href="../" class="icon-close">
                <%- partial("_snippets/svg-icon.ejs", { name: 'close' }) %>
              </a></nav>
              <%- getHeaderFromHtml(yield) %>
            </header>

            <div class="service-lead"><%- getHtmlWithoutHeader(yield) %></div>

            <div class="service-list">
              <%- partial("_blocks/service-list") %>

              <%- partial("_blocks/service-list--extra") %>
            </div>
          </div>
          <div class="service-layout--footer bg-blue">
            <%- partial("_blocks/order-form__simple.ejs") %>
          </div>
        </div>
      </main>
    </div>
    <%- partial("_snippets/footer.ejs") %>
  </body>
</html>