<html>
  <%- partial("_snippets/head.jade") %>
  <body>
    <%- partial("_snippets/header.ejs") %>
    <div class="layout">
      <aside class="layout--sidebar">
        <div class="menu-wrapper">
          <%- partial('_snippets/menu.ejs') %>
        </div>
      </aside>
      <main class="layout--content">
        <div class="service-layout">
          <div class="service-layout--container">
            <div class="service-list service-list__percent">
              <nav class="service-list--navigation"><a href="../"><img src="/img/icon-close.svg" alt="Закрыть услугу"></a></nav>
              <%- yield %>

              <%- partial("_blocks/service-list", { title: 'Базовый пакет услуг' }) %>

              <%- partial("_blocks/service-list--extra", { title: 'Дополнительные услуги, если требуются<br/>(входят в стоимость)' }) %>
            </div>
          </div>
          <div class="service-layout--footer">
            <%- partial("_blocks/order-form__complex.ejs") %>
          </div>
        </div>
      </main>
    </div>
    <%- partial("_snippets/footer.ejs") %>
  </body>
</html>