<%
function stripHtml(html) {
  return (html || '').replace(/<(?:.|\n)*?>/gm, '').replace(/\n/gm, '');
}

function getHeaderFromHtml(html) {
  return stripHtml(html.match(/<h1[^>]*>(.*?)<\/h1>/)[0]);
}

function getHtmlWithoutHeader(html) {
  return html.replace(/<h1[^>]*>(.*?)<\/h1>/, "");
}

const header = getHeaderFromHtml(yield)
%>
<html>
  <%- partial("_snippets/head.ejs") %>
  <body class="has-service-footer-simple <%- partial("_snippets/body-class.ejs") %>">
    <%- partial("_snippets/header.ejs") %>
    <aside class="layout--sidebar menu-wrapper">
        <%- partial('_snippets/menu.ejs') %>
    </aside>
    <form action="<%- partial("_snippets/sender-path.ejs") %>" method="post" calculate-total>
      <input type="hidden" name="template" value="simple-form">
      <input type="hidden" name="title" value="<%- header %>">
      <main class="layout--content">
        <div class="service--content">
          <header class="service-header">
            <nav><a href="/" class="icon-close">
              <%- partial("_snippets/svg-icon.ejs", { name: 'close' }) %>
            </a></nav>
            <h1><%- header %></h1>
          </header>

          <div class="service-lead"><%- getHtmlWithoutHeader(yield) %></div>

          <div class="service-list">
            <%- partial("_blocks/service-list") %>

            <%- partial("_blocks/service-list--extra") %>
          </div>
        </div>
      </main>
      <div class="service--footer bg-blue">
        <%- partial("_blocks/order-form__simple.ejs") %>
      </div>
    </form>
    <%- partial("_snippets/footer.ejs") %>
  </body>
</html>