<%
  const bgs = ['white', 'blue', 'yellow', 'red', 'black'];
  const icons = ['logo', 'close', 'toggle', 'arrow-down', 'arrow-right', 'bank-sber', 'bank-vtb', 'studio-zw'];
%>
<% bgs.forEach(function(bg){ %>
  <div class="bg-<%- bg %>" style="padding: 2rem 3rem">
    <p><a href="">Ссылка</a></p>
    <p><input class="input" type="text" placeholder="Ввведите текст" />
      <input class="input" type="text" value="Введённый текст" />
      <button class="button">Кнопка</button></p>
    <p><input class="input" disabled type="text" placeholder="Ввведите текст" value="Введённое значение" /> <button class="button" disabled>Кнопка</button></p>

    <div>
      <button class="button">Кнопка</button>
      <button class="button disabled" disabled>Кнопка</button>
      <button type="submit" class="button disabled" disabled>
        <span class="on-disable--show">Расчёт отправлен <i><%- partial("./_snippets/svg-icon.ejs", { name: 'check' }) %></i></span>
      </button>
      <div class="error-message input">Не получилось</div>
    </div>
    <br>

    <div>
      <input placeholder="Номер" class="input" type="text" name="number">
      <div class="error-message input">Не получилось</div>
    </div>
    <br>

    <div class="input-combined">
      <input placeholder="Номер" class="input" type="text" name="number">
      <button class="button__icon" type="button">
        <%- partial("_snippets/svg-icon.ejs", { name: 'arrow-right' }) %>
      </button>
    </div>
    <div class="input-combined">
      <input placeholder="Номер" value="Введённое значение" class="input" disabled type="text" name="number">
      <button class="button__icon" type="button" disabled>
        <%- partial("_snippets/svg-icon.ejs", { name: 'arrow-right' }) %>
      </button>
    </div>
    <h2>Ссылка-иконка</h2>
    <div class="util--icon-list">
      <% icons.forEach(function(name){ %>
        <a href=""><%- partial("_snippets/svg-icon.ejs", { name }) %></a>
      <% }) %>
    </div>
    <h2>Кнопка-иконка</h2>
    <div class="util--icon-list">
      <% icons.forEach(function(name){ %>
        <button class="button__icon"><%- partial("_snippets/svg-icon.ejs", { name }) %></button>
      <% }) %>
    </div>
  </div>
<% }); %>