<%
  const bgs = ['white', 'black', 'blue', 'yellow', 'red'];
%>
<% bgs.forEach(function(bg){ %>
  <div class="bg-<%- bg %>" style="padding: 2rem 3rem">
    <h1>Заголовок первого уровня</h1>
    <h2>Основной цвет текста</h2>
    <p>Бывает, что продавцу <a href="">важно быстро получить деньги</a>: например, он срочно уезжает за границу или хочет вложиться в бизнес.</p>
    <h2>Ссылка</h2>
    <p><a href="">Ссылка</a></p>
    <h2>Инпуты</h2>
    <p><input type="text" placeholder="Ввведите текст" /> <input type="text" value="Введённый текст" /></p>
    <p><button>Кнопка</button></p>
    <h2>Иконка в ссылке</h2>
    <div class="util--icon-list">
      <a href=""><%- partial("_snippets/svg-icon.ejs", { name: 'logo' }) %></a>
      <a href=""><%- partial("_snippets/svg-icon.ejs", { name: 'close' }) %></a>
      <a href=""><%- partial("_snippets/svg-icon.ejs", { name: 'toggle' }) %></a>
    </div>
    <h2>Иконкой в кнопке</h2>
    <div class="util--icon-list">
      <button class="button__icon"><%- partial("_snippets/svg-icon.ejs", { name: 'logo' }) %></button>
      <button class="button__icon"><%- partial("_snippets/svg-icon.ejs", { name: 'close' }) %></button>
      <button class="button__icon"><%- partial("_snippets/svg-icon.ejs", { name: 'toggle' }) %></button>
    </div>
  </div>
<% }); %>